# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit
.streamlit/
pages
screenshots

# BPS
aedc_logo.png
bps_logo.png
ecg_logo.png
requirementss.txt
config.ini

# Folders
analysis
logo

# Code
ecg_connection.py
dq.py
dq_analysis.ipynb

__pycache__
.pyc
data.xlsx
data - Copy.xlsx
aedc_logo.png
app.py
__pycache__
.pyc