# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# Streamlit
.streamlit
.streamlit/
pages
screenshots

# BPS
aedc_logo.png
bps_logo.png
ecg_logo.png
requirementss.txt
config.ini

# Folders
analysis
logo
trash

# Code
ecg_connection.py
# connection_ecg.py
# connection_aedc.py
dq.py
dq_analysis.ipynb
sql_queries.py

__pycache__
data.xlsx
data - Copy.xlsx
aedc_logo.png
app.py
*.pyc
*.ipynb